body{
    font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

h1{
    margin: 0px;
    font-size: 40px;
    font-weight: normal;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px;
    padding: 10px;
    background-color: #daa520;
}

.logo{
    position: fixed;
    top: 3px;
    left: 4px;
    margin: 0px;
    padding: 3px;
    background-color: #ffffff;
    border-radius: 6px;
}

.header h1{
    text-align: center;
}

.container-laporan{
    margin: 5rem 10rem 10px 10rem;
}

.line{
    margin-top: -8px;
    height: 1px;
    background-color: black;
}

.data{
    margin: 16px auto;
}

/* Begin css home.php */
.search{
    text-align: center;
}

.search input{
    width: 40%;
    height: 30px;
}

.search button{
    width: 5%;
    height: 36px;
}

.buat-lapor{
    margin: 5px 20px;
    text-align: center;
}

.buat-lapor a{
    color: black;
    text-decoration: none;
}

.buat-lapor a:hover{
    background-color: whitesmoke;
}

.buat-lapor img{
    border: 1px solid black;
    border-radius: 55%;
    width: 10px;

}
/* end css home.php */

/* start css formlapor.php */
.data textarea{
    width: 99.5%;
    height: 20rem;
}

.data .aspek{
    padding: 6px;
}

.data .file, .btn-file{
    padding: 6px;
}

.data button{
    margin-bottom: 6px;
    float: right;
    padding: 6px;
}

/* end css formlapor.php */
