body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 50px 200px;
}

h1 {
    color: rgb(39, 39, 39);
    text-align: center;
}

p {
    margin: 0;
}

.search_bar {
    width: 100%;
    height: 50px;
    border: solid 1px;
}

.search_btn {
    height: 54px;
    border: solid 1px;
    width: 200px;
}

.form_div {
    display: flex;
    justify-content: center;
}

.komentar {
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
    cursor: pointer;
}

.more_pic {
    margin: 0 auto;
    display: block;
    height: 30px;
}

.waktu {
    display: flex;
    flex-wrap: wrap;
}

.row40 {
    flex: 40%;
}

.row20 {
    flex: 20%;
}

.right {
    float: right;
}

.lihat {
    text-decoration: none;
    color: black;
    cursor: pointer;
}