h1{
    padding-top: 5%;
    text-align: center;
}

body{
    margin-inline-start: 15%;
    margin-inline-end: 15%;
}

input{
    width: 90%;
    height: 5%;
    float: left;
}

table {
    margin-left: auto;
    margin-right: auto;
}


#tcari{
    width: 10%;
    height: 5%;
    float: right;
}

#tombolbuat{
    width: 25px;
    height: 25px;
}
