*{
    font-family:Helvetica, sans-serif;
    font-size: 16pt;
}
textarea {
  resize: vertical;
  min-height: 200px;
  min-width: 700px;

}

h1{
    text-align: center;
    font-size: 32pt;
}

input[type=submit] {
    margin-inline-start: 80%;
}


.badan{
    padding-inline-start: 15%;
    padding-inline-end: 15%;
}

.badan p{
    margin: 0px;
    padding: 0%;
}

.kepala{
    padding-inline-start: 15%;
    padding-inline-end: 15%;
}