*{
    font-family:Helvetica, sans-serif;
    font-size: 16pt;
}

h1{
    padding-top: 5%;
    text-align: center;
    font-size: 32pt;
}

body{
    margin-inline-start: 15%;
    margin-inline-end: 15%;
}

input{
    width: 90%;
    height: 5%;
    float: left;
}

#tabel1{
    margin: auto;
}

#tombolcari{
    width: 10%;
    height: 5%;
    float: right;
}
button{
    padding: 0px;
}

#tombolbuat{
    width: 25px;
    height: 25px;
}

#tableKeterangan{
    width: 100%;
}

#waktu{
    text-align: right;
}

#tampil_data{
    box-sizing: border-box;
    min-height: 200px;
    margin-bottom: 75px;
}

footer{
    padding: 10px;
    background-color: bisque;
}