.container {
    margin: auto;
    margin-top: auto;
    margin-top: 50px;
    width: 1500px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 2px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container h1{
	text-align:center;
	top:30px;
	left:50%;
	margin-bottom: 33px;
	font-size: 66px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.container h3{
    text-align: center; 
    margin-top: 5px; 
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container input{
	border-radius: 10px;
    margin-right: -3px;
    margin-bottom: 33px;
    margin-left:25%;
    width: 750px;
	height: 40px;
	text-align: center;
}

.container a{
	text-decoration: none; 
	color: black;
}

.container a:hover{
	text-decoration: none; 
	color: rgb(28, 138, 37);
	background-color: rgb(0, 0, 0);
}

.container .lampiran, .container .waktudetail, .container .aspek{
	float: left;
}

.container .waktu , .container .detail, .container .hapus{
	float: right;
}

select{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 805px;
	border:1px solid;
}

#file{
	width: 300px;
	margin-left: 0px;
	margin-bottom: 30px;
	text-align: left; 
}

.container embed{
	margin-top:30px; 
	margin-bottom:30px; 
	width: 800px;
	height: 1000px;
}

#filedetail{ 
	margin: 20px;
	height: 470px;
}

#submit{
	float: right;
	width: 200px;
	margin-bottom: 30px;
}

#submit:hover, .container form button:hover{
	background-color: rgb(226, 48, 29);
	color: black;
	font-weight:bold;
}

