.back {
    text-decoration: none;
    color: black;
}
.judul {
    text-align: center;
    
}

.judul a {
    color: black;
    text-decoration: none;
}

.hasil{
    margin-left: 100px;
    margin-right: 100px;
}

.hasil p {
    text-align: justify;
}
