
body{
	margin: 0;
	padding: 0;

}

hr{
	height: 2px;
	background-color: black ;
}

.container {
	margin: 3% 18% 0 18% ;
	
}

.container h2{
	text-align: center;
	font-weight: lighter;
	font-size: 36px;
	font-family: sans-serif;
	letter-spacing: 2px;
}
.input-group {
	margin-top: 65px;
	display: flex;
	justify-content: center;
}

.input-group input{
	padding: 15px;
	width: 85%;
}

.input-group button{
	padding-left: 20px;
	padding-right: 20px;
	width: 10%;
}

.container .list .header{
margin-top: 80px;
}


.link {
	margin-top: 35px;
	font-family: sans-serif;
	text-align: center;
}

.link small a{
	text-decoration: none;
	color: black
}

.list .list-item {
	margin-top: 30px;
}

.link small a:hover{
	color: blue;
	text-decoration: none;
	transform: scale(1.5);
}
.list .list-item .list-lampiran{
	margin: 50px 0 50px 0 ;
}

.list .list-nav .nav1{
	float: right;
}
.list .list-nav .aspek{
    margin-right: 30px;
}
.list .list-item .list-lampiran img{
    margin: 30px 0 0 0;
}
.list .list-item .list-nav a{
    text-decoration: none;
    color: black;
}

.list .list-item .list-nav a:hover{
    color: green;
}
