body{
    background-image: url(/asset/blue.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.head{
    font-size: 250%;
    text-align: center;
    margin-bottom: 6%;
    margin-top: 5%;
    font-family: 'Philosopher', sans-serif;
}

#hapus{
    color: white;
    float: right;
}
.box{
    background-color: rgba(0, 0, 0, 0.411);
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
    text-align: justify;

}
.button {
    background-color: #13a2e9;
    border: 1px solid #13a2e9;
    border-radius: 5px;
    color: #ffffff;
    /* display: inline-block; */
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.2;
    margin-top: 5%;
    padding: 10px 15px;
    width: auto;
    /* float: right; */
     cursor: pointer;
}
.button:active,
.button:focus,
.button:hover {
    background-color: #005580;
    border-color: #005580;
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 1px 0.15625em rgba(0, 0, 0, 0.05);
}
.isi{
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
    text-align: justify;
}
.button, .edit{
    margin-top: 0%;
    margin-right: 20px;
    text-decoration: none;
}
.button, .kembali{
    margin-top: 0%;
}
.judul-laporan {
    font-family: 'Ubuntu';
    font-size: 20pt;
}
.atribut {
    width: 100%;
    margin-bottom: 20%;
}

.left a {
    float: left;
    margin-right: 20px;
}

.right {
    margin-right: 20px;
    color: white;
    float: right;
}

.right .readmore {
    text-decoration: none;
    color: yellow;
}