body {
  background-image: url(laptop.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.pencarian{
  margin: auto;
  position: relative;
  margin-top: 5%;
}
#badan{
  margin-right: 150px;
  margin-left: 150px;
}
.header {
    margin-top: 5%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 250%;
    font-family: 'Philosopher', sans-serif;
}
.search {
  width: 80%;
  height: 40px;
  margin: auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;
}
.search input {
  width: 90%;
  padding: 12px 5px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;

}
.search input:focus {
  outline: 0;
  background: transparent;
}
.search button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 10%;
  color: #fff;
  background: rgba(221, 221, 221, 0.37);
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}
.search button:hover {
  background: #fff;
  color: #444;
}
.search button:active {
  box-shadow: 0px 0px 12px 0px #e1e1e1;
}
.search button:focus {
  outline: 0;
}

.buat-laporan {
  padding-top: 1%;
  font-family: 'Nuninto Sans';
    text-align: center;
    font-size: 15pt;
}

.buat-laporan a{
    color: white;
    text-decoration: none;
}
.konten{
   box-sizing: border-box;
   background-color: #5a5a5a60;
   color: white;
   padding: 20px;
   margin-top: 5%;
}
.isi-laporan, .judul-laporan{
  font-family: 'Ubuntu', sans-serif;
  font-size: 10pt;
}

