#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #000000;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 70%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #ddd;
}

#btn{
  background-color: #696969;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#btn {
  display: inline-block;
  padding: 7px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #696969;
  border-radius: 7px;
  box-shadow: 0 4px #999;
}

#btn:hover {
  background-color: #b8b8b8;
  color: #696969;
}

#btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
