* {
  font-family: Calibri;
  margin: 0px;
  padding: 0;
  color: #333;
  box-sizing: border-box;
}

/* navbar */
nav {
  background-color: black;
}

.nav-links li {
  display: inline-block;
  padding: 0px 14px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  color: #ffffff;
  font-size: x-large;
}
.nav-links li a span {
  transition: all 0.3s ease 0s;
  padding-left: 100px;
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
}
.nav-links li a span:hover {
  color: teal;
}
.nav-links li a:hover {
  color: teal;
}

/* konten */
.container {
  margin: auto;
  width: 80%;
}
header h1 {
  text-align: center;
  margin: 30px;
}

p {
  font-size: medium;
}

a {
  text-decoration: none;
}

ul li {
  display: inline;
  margin-left: 10px;
}
form.search input {
  padding: 15px;
  font-size: 17px;
  border: 2px solid rgb(0, 0, 0);
  float: left;
  width: 90%;
  background: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

form.search button {
  float: left;
  width: 10%;
  padding: 17.5px;
  background: #ffffff;
  font-size: 13px;
  border: 2px solid rgb(0, 0, 0);
  border-left: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

form.search button:hover {
  background: rgb(224, 221, 221);
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.buatLapor {
  text-align: center;
}
.buatLapor a {
  color: #000;
  transition: all 0.5s ease;
  text-decoration: none;
  font-weight: 700;
}

.wrap {
  width: 100%;
  margin: 20px auto;
  height: auto;
}

.wrap .konten span.lampiran {
  float: left;
}
.wrap .konten a.detail {
  float: right;
  font-weight: 700;
}
.wrap .konten span.waktu {
  float: right;
  margin-right: 10px;
}

.wrap .konten p.isi {
  text-align: justify;
  margin-bottom: 25px;
  margin-top: 40px;
}

.clearfix {
  overflow: auto;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #333232;
}

/* detail lapor */
p.isi-detail {
  text-align: justify;
  margin-bottom: 25px;
  margin-top: 35px;
}

img#lampiran-detail {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}

.wrap .konten p.dt-waktu {
  float: left;
  margin-top: 15px;
  margin-right: 10px;
}
.wrap .konten p.dt-aspek {
  float: left;
  margin-top: 15px;
}
.wrap .konten a.dt-ubah {
  float: right;
  margin-top: -15px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 17px;
  padding: 10px;
}
.wrap .konten button.dt-delete {
  float: right;
  margin-top: -15px;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  margin-left: 10px;
  font-size: 17px;
  padding: 10px;
}

a.dt-back {
  float: left;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  margin-left: 10px;
  font-size: 17px;
  padding: 10px;
}
p.dt-dari {
  margin-top: 10px;
  font-weight: 700;
}

/* buatLapor */

textarea {
  width: 100%;
  height: 300px;
}

input,
textarea {
  padding: 10px;
  border: 2px solid #333232;
  margin-bottom: 15px;
}
.input-nama input[type="text"] {
  font-weight: bold;
  width: 40%;
}
.pilihAspek select {
  font-weight: bold;
  margin: 10px auto;
  border: 2px solid #333232;
}

.inputLampiran input[type="file"] {
  font-weight: bold;
}

.btn {
  margin: 20px auto;
}
a.btn-back {
  border: 2px solid black;
  padding: 10px;
  font-weight: bold;
}

button.btn-lapor {
  float: right;
  border: 2px solid black;
  padding: 10px;
  font-weight: bold;
  background-color: white;
}

.hr-create {
  margin: 25px auto;
}

/* pagination */
nav.pg {
  padding: 10px;
}

.pg-link {
  color: white;
}

.pg-link:hover {
  color: teal;
}
