body {
    font-family: 'Roboto', sans-serif;
}

.judul {
    text-align: center;
    
}

.judul a {
    color: black;
    text-decoration: none;
}

.kolom{
    margin-left: 100px;
    margin-right: 100px;
}

.kanan  {
    float: right;
    margin-top: -50px;
}

.kanan a {
    color: black;
    text-decoration: none;
}

.kiri {
    float: Left;
    margin-top: -50px;
}

.kiri a{
    color: black;
    text-decoration: none;
}

#container {
    padding-top: 5rem;
}

.center {
    text-align: center;
    padding-bottom: 3rem;
}

.form-control {
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.button {
    padding: 1rem;
    background-color: crimson;
    color: white;
    border-radius: 5px;
}

#body {
    max-width: 800px;
    margin: 0 auto;
}

#content {
    max-width: 800px;
    margin: 0 auto;
}

.box {
    padding: 1rem 0;
    margin-bottom: 2rem;
}