@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: sans-serif;
	background-color: #999;
	background-image: url(bTovEQ.jpg);

}

.h1 {
	margin: 50px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	display: flex;
	justify-content: center;
	font-size: 30pt;
	color: #000;
	width: auto;
	text-align: center;
}

.kotak_laporan {
	width: 650px;
	background: #CCC;
	/*meletakkan form ke tengah*/
	margin: 40px auto;
	padding: 50px 30px;

}

.kotak {
	width: 500px;
	background: #CCC;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;

}


.kotak h1 {
	font-size: 28pt;
	color: #000;
	width: auto;
	text-align: center;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}


header {
	background: #ED032D;
	padding-top: 30px;
	min-height: 50px;
	border-bottom: #FC0732;
}

header #bagiankiri {
	float: left;
}

header li {
	float: left;
	display: inline;

	padding: 0 20px 0 20px;
}

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
}

ul {
	margin: 0;
	padding: 0;
}

header #bagiankiri,
.active a {
	color: #fff;
	font-weight: bold;
}

header a:hover {
	color: #960083;
	font-weight: bold;

}

body #komen {
	background: white;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	position: relative;
	max-width: 600px;
	padding: 30px 20px;

}

body #komen #kateg {
	padding: 5px;
	position: static;

}

body #sidebar {
	float: right;
	color: blue;
	display: inline;
}

#spons {
	margin-top: 20px;

}

#spons .box {
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

footer {
	background: #555;
	padding-top: 20px;
	min-height: 30px;
	border-bottom: 5px black solid;
}

footer #p {
	text-align: center;
}

.lapor {
	margin: 0px 200px auto 200px;
}

.pencarian {

	/* margin:20px auto; */
	display: flex;
	justify-content: center;
}

.search {

	margin: 10px auto;
	padding: 20px;
	width: 100%;
	background: white;
	border: 1px solid black;
}

.tombol {
	margin: 19px auto;
	padding: 10px 40px;
	border: 1px solid black;
	background-color: #C0C0C0;
	color: black;
	font-family: "Quicksand", sans-serif;
	font-size: 10pt;
	font-weight: bold;
	float: right;
}

.buttoncari {
	margin: 10px auto;
	/* position:relative; */
	padding: 10px 55px;
	border: 1px solid black;
	background-color: white;
	color: black;

}

.buttoncari:hover {
	background-color: #fafafa;
	color: #060707;
}

textarea {
	width: 100%;
	height: 40%;
	border: 1px solid black;
}

select {
	padding: 5px 5px;
	border: 1px solid black;
	font-size: 13px;
}

.submit {
	display: block;
	margin: 2em auto 0em;
	border-radius: 5px;
	padding: 5px 5px 5px 12px;
	height: 40px;
	width: 26.5%;
	outline: none;
	font-family: "Quicksand", sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #F5032E;
	color: white;
}

.submit1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 15px 15px;
	float: right;
	margin-bottom: 30px;
	margin-top: 20px;
}

.subjudul {
	font-size: 13px;
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
}

.judul {
	margin: 50px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-style: normal;
	display: flex;
	justify-content: center;
}

.buat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: black;
}

hr {
	color: black;
	border: 0.8px solid black;
}

.detail {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 13px;
	display: flex;
	float: right;
	margin-right: 10px;
	color: black;
}

.more {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 13px;
	display: flex;
	float: right;
	color: black;
}

.waktu {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 13px;
	display: flex;
	float: right;
	margin-right: 15px;
	color: black;
}

.arsip {
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.lampir {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 13px;
	display: flex;
	float: left;
	color: black;
}

.waktu2 {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 13px;
	display: flex;
	float: left;
	margin-right: 20px;
	color: black;
}

.aspek {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 13px;
	display: flex;
	float: left;
	color: black;
	margin-left: 15px;
}

.gambar {
	padding: 20px;
	width: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gambar2 {
	width: 250px;
	height: 250px;

}

.data {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
}

.hangat {
	height: 700px;
	position: relative;
	background: linear-gradient(90deg, #FF8000, #FFEE04);
}

.hangat-b {
	top: 5em;
	display: block;
	margin: auto;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px 0px;
	padding: 30px;
	background: rgb(255, 255, 255);
	width: 70%;
	height: 45%;
}

.hangat::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 155px;
	background: url(../image/rectangl.png);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.b {
	color: black;
	padding-left: 15px;
	margin-top: 30px;
	width: auto;
	height: 400px;
	overflow: auto;

}

.b-post {
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid black;
}

.b-post .title {
	font-weight: 500;
	color: black;
	font-size: 18px;
	padding-right: 70px;
}

.b-post .title a {
	font-weight: 700;
	color: black;
	font-size: 20px;
}

.b-post .isi p {
	line-height: 2.214;
	color: #4a4a4a;
}

.conteudo {
	width: 600px;
	padding: 25px;
	margin: 25px auto;
	background: #fff;
	border: 1px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
}

.conteudo img {
	min-width: 650px;
	margin: 0 0 25px -25px;
	max-width: 650px;
}

.conteudo h1 {
	padding: 0;
	margin: 0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia;
}

.conteudo p:last-child {
	margin: 0;
}

.conteudo .continue-lendo {
	color: #000;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 700;
}

.conteudo .continue-lendo:hover {
	margin-left: 10px;
}

.post-info {
	float: right;
	font-size: 12px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}

.aspek1 {
	padding-left: 250px;
	display: inline-block;
}

.tambah {
	display: inline-block;
	padding-left: 10px;
}

/* CSS Choose File */
