:root {
    --red-primary: #923030;
    --red-primary-h : #c13e3e;
}

* {
    margin: 0;
    padding: 0;
}

body {
	line-height: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    max-width: 70vw;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mt-2 {
    margin-top: 2em;
}

.pt-2 {
    padding-top: 2rem;
}

.red-text {
    color: var(--red-primary);
}

.white-text {
    color: white;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
} 

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

a {
    text-decoration: none;
    color: black;
}

input, button {
    padding: 10px;
}

input[submit]:hover, button:hover {
    cursor: pointer;
}

.headline {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.hero {
    padding: 100px 0;
    background: url("../images/bg_bggenerator_com.png");
    color: #fafafa;
}

.hero h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

main {
    background-color: #fafafa;
    padding-bottom: 80px;
}

main h3 {
    line-height: 2;
    font-weight: 550;
    border-bottom: 1px solid black;
}

.main__search-bar {
    font-size: 20px;
    position: relative;
    top: -15px;
}

.buat-laporan {
    font-size: 1.5em;
    text-decoration: none;
    transition: border-bottom .5s;
}

.buat-laporan:hover {
    color: var(--red-primary-h);
    border-bottom: 1px solid var(--red-primary-h);
    /* transition: border-bottom, color .5s; */
}

.search-box {
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    font-size: inherit;
    font-weight: lighter;
    width: 90%;
    outline: none;
}

.search-box:focus {
    border-bottom: 2px solid #923030;
    transition: border-bottom .2s;
}

.btn-search {
    width: 10%;
    font-size: inherit;
}

.btn-secondary {
    border: none;
    background-color: #923030;
    color: white;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #c13e3e;
    transition: background-color .5s;
}

.btn-selengkapnya {
    color: #165eb3;
}

.laporan {
    color: #414141;
    padding-top: 30px;
    border-bottom: 1px solid #000;
}

.laporan p {
    margin-bottom: 20px;
    text-align: justify;
}

.laporan .detil-laporan {
    margin-bottom: 5px;
}

.lampiran {
    flex-grow: 10;
}

.waktu, .detail-laporan {
    flex-grow: 1;
}


.main-form {
    margin: 20px 0;
}

.main-form * {
    display: block;
}

#konten {
    width: 100%;
    height: 40vh;
    padding: 5px;
    resize: none;
    font-size: 18px;
}

#aspek {
    padding: 10px;
}

#input-lampiran {
    padding: 0;
    text-transform: capitalize;
    color: #828282;
}

#tambah-laporan {
    margin: 0 0 0 auto;
    /* border: none;
    background-color: #923030;
    color: white;
    cursor: pointer; */
}

/* #tambah-laporan:hover {
    background-color: #c13e3e;
    transition: background-color .5s;
} */

#detail {
    text-align: justify;
}

#detail p {
    margin-bottom: 10px;
}

footer {
    padding: 25px;
    border-top: 1px solid #414141;
    color: #414141;
    background-color: #fafafa;
}

footer a {
    color: inherit;
}