body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* global */
fieldset,
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* header */
header {
	background:  #006faa;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 70px;
}

.button-1 {
	float: right;
}
