body{
    background-color: #00cec9;
}

.laporarea{
    margin:0px 150px auto 150px;
    border-radius: 30px;
    background-color:#81ecec;
}

.search {
    margin:10px auto;
    margin-left: 50px;
    background: white;
    border:1px solid black;
    padding:20px;
    width: 100%;
}

.formsearch {
    display: flex;
    justify-content: center;
}


.button {
   
    
}
.button:hover  {
    
}

h1{
  
}

h4{
   
}

hr{
   
}

textarea{
   

}

select{
    
}

.submit{

}

.submit1{
   
}

.title{
   
}

.subtitle{
   

}

.linkcreate{
   
}

.detail{
   
}

.more{
  

}
.waktu{
   

}

.arsip{
    

}
.lampir{
    
}
.waktu2{
    
}
.aspek{
   
}

img{
    
}

 .gambar{
    
}

.gambar2{
   
    
}

.data{
    
}


