body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}


fieldset,
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* header */
header {
	background:  #006faa;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 70px;
}

/* box-h */
#boxes .container .box-h {
	float: left;
	width: 25%;
}

#boxes .container .box-h .hapus {
	text-align: right;
}

a {
	text-decoration: none;
}

