* {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(46, 102, 221);
}

li {
    list-style: none;
}

.container{
    width: 87%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.space-bettwen {
    justify-content: space-between;
}

#navbar {
    height: auto;
    background: #fff;
    padding: 10px 0;
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.navbar-landing {
    background-color: none;
    padding-top: 12px !important;
}

.logo {
    margin: 0 20px;
}

.menus-nav {
    line-height: 4.7rem;
    font-size: 16px;
    font-weight: 20px;
}

.menus-nav > li {
    padding: 0 20px;
    padding-bottom: 5px;
}

.menus-nav > li > a {
    color: #494949;
    transition: all .2s;
}

.menus-nav-lad > li > a {
    color: #fafafa !important;
}

.color-white {
    color: white !important;
}

.menus-nav > li > a:hover {
    color: #777777;
}

.active {
    border-bottom: 1.9px solid rgb(151, 36, 36);
}

.profile {
    display: flex;
    padding: 10px;
}

.profile > a:nth-child(1) {
    border: none;
}

.profile > a:nth-child(2):hover{
    background-color: #f7f7f7;
    color: rgb(151, 36, 36);
    top: -0.81px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.profile > a {
    line-height: 2.5rem;
    padding: 0px 30px;
    position: relative;
    margin: 0 10px;
    border: 1.7px solid #f7f7f7;
    color: #f7f7f7;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.7px;
    border-radius: 2px;
    transition: all 0.3s;
}

.profile > span {
    margin: 15px;
}

.icon-down {
    margin: 4.1px 0;
    margin-left: -15px;
}

/* Footer */

#footer {
    background-color: #F7F8F9;
    padding: 30px 0;
    margin-top: 15px;
}

.fout > img {
    margin: 20px 0;
}

.fout > p {
    color: #777777;
}

/* profile */
.cover{
    height: 350px;
    background-color: rgb(255, 59, 59);
    color: white;
}

.covercontent{
    margin-left: 100px;
    align-items: center;
}

.profilepictureborder{
    height: 152px;
    width: 152px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.profilepicture{
    height: 150px;
    width: auto;
}

.flex-end{
    align-self: flex-end;
}
.flex-center{
    align-self: center;
}

.mb-16{
    margin-bottom: 16px;
}

.mr-16{
    margin-right: 16px;
}

.changecover{
    font-weight: bold;
    color: white;
}

.border-button{
    border-style: solid;
    border-width: 2px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
}

.border-button:hover{
    background-color: white;
}

.changecover:hover{
    color: #d0021b;
}

.row{
    display: flex;
    flex-direction: row;
}

.content-parent{
    display: flex;
}

.content{
    width: 70%;
    margin-top: 20px;
    margin-left: 100px;
}

aside{
    margin-top: 20px;
    margin-right: 100px;
    width: 30%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px 30px 30px 20px;
}

.row > p > a{
    color: black;
    margin: 8px 16px 8px 16px;
    font-size: 20px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 40px 1em 0;
    padding: 0;
}

aside > p{
    font-size: 22px;
}

.institution-logo{
    margin-top: 20px;
    border-radius: 4px;
    height: 50px;
}

.document-logo{
    height: 16px;
}

.align-content-center{
    align-content: center;
}

.ml-16{
    margin-left: 16px;
}

#institution-name{
    width: 211px;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 27.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 10px;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 56.666667%;
    flex: 0 0 63.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 10px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.bg-card-white {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
}

.border-right-none {
    border-right: none !important;   
} 

input:focus {
    border: none !important;
}

.mb-5 {
    margin-bottom: 15px;
}

.card {
    background-color:  rgb(255, 255, 255);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    padding: 0;
    border-radius: 2px;
    height: auto;
    width: auto;
}

.card > img {
    border-radius: 2px 2px 0 0;
}

.flex-wrap-none {
    flex-wrap: inherit !important;
}

.text-center {
    text-align: center;
}

.float-right {
    float: right !important;
}

.w-50 {
    max-width: 100%;
    width: 47vw !important;
}

.p-3 {
    padding: 5px 15px;
}

.icons {
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.page-home #hero svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

.pb-4 {
    padding-bottom: 10px;
}

.w-100 {
    width: 100% !important;
}

#search-bar{
    height: 100px;
    background: #222222;
    position: fixed;
    width: 100%;
    color: #fff;
    z-index: 10000;
}

#search-bar input {
    width: 100%;
    background: none;
    padding: 15px 15px 15px 60px;
    margin: 0;
    border: 0;
    height: 100px;
    font-size: 22px;
    color: white;
}

.search-icon{
    height: 50px;
    width: 50px;
}