* {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.container{
    width: 87%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.d-flex {
    display: flex;
}

.space-bettwen {
    justify-content: space-between;
}

#navbar {
    height: auto;
    background: #fff;
    padding: 10px 0;
    margin-bottom: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.logo {
    margin: 0 20px;
}

.menus-nav {
    line-height: 4.7rem;
}

.menus-nav > li {
    padding: 0 20px;
    padding-bottom: 5px;
}

.profile {
    display: flex;
    padding: 10px;
}
.profile > span {
    margin: 15px;
}

.icon-down {
    margin: 4.1px 0;
    margin-left: -15px;
}

/* Footer */

#footer {
    background-color: #F7F8F9;
    padding: 30px 0;
    margin-top: 15px;
}

.fout > img {
    margin: 20px 0;
}

.fout > p {
    color: #777777;
}

/* profile */
.cover{
    height: 350px;
    background-color: rgb(255, 59, 59);
    color: white;
}

.covercontent{
    margin-left: 100px;
    align-items: center;
}

.profilepictureborder{
    height: 152px;
    width: 152px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.profilepicture{
    height: 150px;
    width: auto;
}

.flex-end{
    align-self: flex-end;
}
.flex-center{
    align-self: center;
}

.mb-16{
    margin-bottom: 16px;
}

.mr-16{
    margin-right: 16px;
}

.changecover{
    font-weight: bold;
    color: white;
}

.border-button{
    border-style: solid;
    border-width: 2px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
}

.border-button:hover{
    background-color: white;
}

.changecover:hover{
    color: #d0021b;
}

.row{
    display: flex;
    flex-direction: row;
}

.content-parent{
    display: flex;
}

.content{
    width: 70%;
    margin-top: 20px;
    margin-left: 100px;
}

aside{
    margin-top: 20px;
    margin-right: 100px;
    width: 30%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px 30px 30px 20px;
}

.row > p > a{
    color: black;
    margin: 8px 16px 8px 16px;
    font-size: 20px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 40px 1em 0;
    padding: 0;
}

aside > p{
    font-size: 22px;
}

.institution-logo{
    margin-top: 20px;
    border-radius: 4px;
    height: 50px;
}

.document-logo{
    height: 16px;
}

.align-content-center{
    align-content: center;
}

.ml-16{
    margin-left: 16px;
}

#institution-name{
    width: 211px;
}