body {
	font: 15px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

font {
  font-family: inherit;
  font-weight: 600;
  line-height: inherit;
  color: inherit;
}

/* global */
fieldset,
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* header */
header {
	background:  #006faa;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 70px;
}

/* bagian search */
#searchlaporan {
	padding: 15px;
	color: white;
}

#searchlaporan form {
	margin-top: 15px;
	margin-bottom: 15px;
}

#searchlaporan input[type="text"] {
	padding: 4px;
	height: 30px;
	width: 85%;
}

.button-1 {
	height: 42px;
	background:  #006faa;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

/* box-h */
#boxes .container .box-h {
	float: left;
	width: 32.5%;
}

#boxes .container .box-h .waktu {
	text-align: right;
}

#boxes .container .box-h .lihat {
	text-align: right;
}
