html {
	background-image: url(https://image.freepik.com/free-vector/abstract-shape-speed-movement-background_1409-1105.jpg);
	background-size: 100%;
}
.container{
	margin:auto;
	margin-top: 0px;
	width: 1111px;
	background-color: rgba(245, 245, 245, 0.637);
	border:1px solid;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 10px; 
	font-family: inherit;
}

.container h1{
	text-align:center;
	top:30px;
	left:50%;
	margin-bottom: 25px;
	font-size: 48px;
	font-family: inherit;
	font-weight: bold;
}



.container input{
	border-radius: 10px;
	border-style: hidden;
	width: 500px;
	height: 25px;
	margin-left:30%;
	
}

.container form button{

	width: 50px;
	height: 30px;
	border-radius: 10px;
}

.container h3{
	 text-align: center; 
	 margin-top: 5px; 
	 margin-bottom: 50px;
}

.container .lampiran, .container .waktudetail, .container .aspek{
	float: left;
}

.container .waktu , .container .detail, .container .hapus{
	float: right;
}

.container a{
	text-decoration: none; 
	color: black;
}

.container a:hover{
	text-decoration: none; 
	color: rgb(165, 57, 57);
	background-color: black;
}

footer {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
	}

.container embed{
	margin-top:30px; 
	margin-bottom:30px; 
	width: 800px;
	height: 1000px;
}

#filedetail{ 
	margin:20px;
	height: 500px;
}

select{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 300px;
	border:2px solid;
}

#file{
	width: 300px;
	margin-left: 0px;
	margin-bottom: 30px; 
}

#submit{
	float: right;
	width: 100px;
	margin-bottom: 30px;
}

#submit:hover, .container form button:hover{
	background-color: rgb(153, 62, 26);
	color: rgb(0, 0, 0);
	font-weight: bolder;
}