		* {

			font-family: tahoma;


		}

		body {

			background-image: url('../img/bg1.jpg');
			background-size: cover;

		}
		

		.container {

			margin: 0 auto;
			margin-top: 100px;
			margin-bottom: 100px;
			width: 850px;
			height: auto;
			border: 1px solid gray;
			background-color: white;
			border-radius: 15px;
			box-shadow: 2px 5px 20px rgba(0,0,0,100%);

		}

		.header {

			height: auto;
			width: auto;
			text-align: center;
			font-size: 22px;


		}

		a {

			text-decoration: none;

		}

		p {

			text-align: justify;

		}

		.content {
			
			margin: 0 auto;
			margin-top: 50px;
			width: 700px;

		}

		.detail {

			float: right;
			margin-top: -34px;

		}

		input{

			width: 92.5%; height: 30px;

		}

		button{

			height: 36px;

		}


		.file{
			width: 200px;
			height: 180px;
			border: 1px solid ;
		}
