*{
		font-family: constantia;
	}

body {
		font-family: constantia;
		margin: 80px;
	}

	body h1{
		text-align: center;
	}

	body form{
		text-align: center;
	}

	body form input{
		width: 800px;
		height: 40px;
		margin-top: 30px;
		border: 2px solid;
	}

	body form button{
		height: 45px;
		background-color: white;
		border: 2px solid;
	}

	a{
		text-decoration: none;
		color: black;
	}
	label{

		text-align: left;
	}
	hr{
		border: 1px solid;
		color: black;
	}
	span{
		position: fixed;
		left: 76%;
	}